@let emailForm = this.loginForm.controls.email;
@let passwordForm = this.loginForm.controls.password;

<div class="login-container">
	<div class="login-form p-4">
		<h3 class="text-center mb-4">Login</h3>
		<form class="" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onLogin()">
			<div class="mb-3">
				<label for="email" class="form-label">Email</label>
				<input
					type="email"
					class="form-control"
					id="email"
					[ngClass]="{
						'is-invalid': emailForm.invalid && (emailForm.touched || emailForm.dirty),
					}"
					placeholder="Email"
					autocomplete="off"
					formControlName="email"
				/>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input
					class="form-control"
					type="password"
					id="password"
					placeholder="Password"
					autocomplete="new-password"
					formControlName="password"
					[ngClass]="{
						'is-invalid': passwordForm.invalid && (passwordForm.touched || passwordForm.dirty),
					}"
				/>
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary w-100">Login</button>
			</div>
		</form>
		<div class="d-flex flex-column align-items-center mt-5">
			<p class="text-primary">Dont have an account?</p>
			<a class="btn btn-link text-primary text-center" routerLink="/auth/register">Create one here</a>
		</div>
	</div>
</div>
