.products {
	display: grid;
	height: 100dvh;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 60px 1fr 1fr 60px;
	grid-template-areas:
		'nav nav nav nav'
		'sidebar main main main'
		'sidebar main main main'
		'sidebar footer footer footer';
}

nav {
	background-color: green;
	grid-area: nav;
}

main {
	background-color: aqua;
	grid-area: main;
}

.sidebar {
	background-color: purple;
	grid-area: sidebar;
}

footer {
	background-color: blue;
	grid-area: footer;
}
