<h2 class="text-center">Register User</h2>
<hr class="mb-4" />
<div class="row justify-content-center">
	<div class="col-12 col-md-6">
		<form [formGroup]="form" (ngSubmit)="onRegister()" autocomplete="off">
			<div class="mb-3">
				<label for="name" class="form-label">Name</label>
				<input type="text" class="form-control" id="name" placeholder="Add a name" formControlName="name" />
			</div>

			<div class="mb-3">
				<label for="email" class="form-label">Email address</label>
				<input
					type="email"
					class="form-control"
					id="email"
					placeholder="Add a valid email adress"
					formControlName="email"
				/>
			</div>

			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input
					type="password"
					class="form-control"
					id="password"
					placeholder="Add a password"
					formControlName="password"
				/>
			</div>

			<div class="mb-3">
				<label for="confirmPassword" class="form-label">Confirm password</label>
				<input
					type="password"
					class="form-control"
					id="confirmPassword"
					placeholder="Confirm password"
					formControlName="confirmPassword"
				/>
			</div>

			<div class="mt-4">
				<button type="submit" class="btn btn-primary w-100">Register</button>
			</div>
		</form>
	</div>
</div>
